* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    height: 80vh;
    background-image: url("/image/analog-landscape-city-with-buildings.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    /* align-items: center; */
    /* padding: 0 5%; */
    
}
header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    align-items: center;
}
button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}
h1 {
    font-size: 15px;
    text-shadow: #fff;
    
    
}

nav, ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;   
    gap: 20px;



}
nav, li,a {
    display: flex;
    text-decoration: none;
    color: #fff;
}
nav, a:hover {
    color: rgb(18, 119, 114);
}

.hero-section {
   max-width: 600px;
   padding: 50px;


}
.hero-section h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
    color: #fff;
}
.hero-section p {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 100;
    color: #fff;
}
#search {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 300px;
    outline: none;
    transition: all 0.3s ease;
}
#search:focus {
    border-color: #25437a;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}
.work,h1 {
   
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;

}
.work,p {
    margin: 20px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: lighter;
    color: #080808;

    
}
.work,h2 {
    color:  teal ;
    margin:20px ;
}
.main-about-1 {
  
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: auto;
    justify-content: center;
    gap: 10px;

}
.about-2 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   justify-content: space-around;
   width: 400px;
   height: 300px;
   padding: 10px;
   color: #080808;
   
}
.main-about-1 h2 p {
    text-align: center;
}

.footer {
    background-color: lightseagreen;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}
.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    list-style-type: none;
    
}
.social-icons a img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
   
}
.social-icons a:hover img {
    transform: scale(1.1);
}
.contact {
    padding: 20px;
    margin: auto;
    text-align: center;
}
.contact-info,a {
    justify-content: center;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 780px) {
  
  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 10px;
    margin-top: 10px;
    list-style-type: none;
    padding: 20px;
    justify-self: center;
    
   
  }
 

}
@media screen and (max-width: 600px){
    .work p{
        width: 350px;
        text-align: center;
        padding: 20px;
    }
    
.work,h1 {
   
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    

}

}

@media screen and (max-width: 780px) {
    .main-about-1{
        display: block;
        margin: 20px;
        width:350px ;
        margin:0;
        
    }
    .section-1 {
        display: block;
    }
    nav li a{
        width: 450px;
    }
}

